<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
    <body>
        <h2>Welcome to my <%=title%></h2>
        <h4>Please, proceed to these links:</h4>
        <ul>
            <li><a href='/leave-note'>Leave a Note</a></li>
            <li><a href='/read-note'>Read a Notes</a></li>
        </ul>
    </body>
</html>